.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*100 относительных единиц, высчитывается относительно видимой области по высоте*/
}
.header {
    width: 100%;
    background-color: orange;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* padding: 30px; меняют размер контейнера */
}

header > a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}
.header > a:hover{
    color: white;
    margin-right: 20px;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
    font-weight: 600;
}