.genderForm{
    display: flex;
    flex-direction: column;
    position: relative;
}

.genderForm > input{
    margin-bottom: 3px;
}

.genderForm > button{
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}

.formErrors{
    color: red;
    position: absolute;
    margin-left: 158px;
    /* margin-top: 10px; */
    font-size: 11px;

}
.nameSpan{
    color: rgb(12, 12, 131);
    font-weight: bolder;
}