.genderForm{
    display: flex;
    flex-direction: column;
    position: relative;
}

.genderForm > input{
    margin-bottom: 30px;
}

.genderForm > button{
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 30px;
    
}

.formErrors{
    color: red;
    position: absolute;
    margin-left: 500px;
    margin-top: 40px;
}