body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.lesson-container{
  /* делаем flex контейнер */
display: flex;
/* меняем направление главной оси на вертикальное */
flex-direction: column;
/* выравниваем по центру */
align-items: center;
margin: auto;
width: 70%;
border: 1px dashed grey;
}
